*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
} 

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #d9d9d91a;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #D9D9D9;
}

.content {
  display: flex;
  flex-direction: row;    
  align-items: flex-end;   
  width: 1140px;  
  height: auto;         
  gap: 30px;   
}

.result {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 711px;
  height: 100%;
}

.result__video-container {
  position: relative;
  width: 711px;
}

.result__video {
  aspect-ratio: 16/9;
  width: 711px;
  height: 386px;
  object-fit: cover;
}

.button {
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 700;
  background-color: transparent;
  border: 1px solid white;
  font-size: 18px;
  padding: 6px 73px;
  color: white;
}

.button:hover {
  cursor: pointer;
  text-decoration: underline;
  text-underline-offset: 1px;
}

.button:active {
  background-color: #545050;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 1px solid white;
  outline-offset: 1px;
}

.search-form {
  display: flex;
  align-items: flex-start; 
  width: 100%; 
  gap: 40px;
  margin-top: 16px;
}

.search-form__fieldset {
  border: none;
}

.search-form__fieldset-title {
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 400;
  font-size: 18px;
  width: 212px;
  margin-bottom: 5px;
}

.search-form__label-text {
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 17px;
  font-weight: normal;
  cursor: pointer;
  width: 100%;
}

.search-form__textfield {
  width: 225px;
  font-family: 'Fira Sans Condensed', sans-serif;
  color:  #fff;
  appearance: none;
  font-size: 18px;
  border: none;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  border-radius: 0;
  outline: none;
  background-color: transparent;
}

.search-form__textfield::placeholder {
  opacity: 70%;
  font-size: 17.5px;
  color: rgb(255 255 255 / 0.7);
}

.search-form__label:has(.search-form__textfield:focus-visible) {
  outline: 1px solid white;
  outline-offset: 1px;
}

.search-form__submit-button {
  align-self: flex-end;
}

.search-form__label:hover {
  text-decoration: underline;
  text-underline-offset: 4px;
  text-decoration-thickness: 1px;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid white; 
  outline-offset: 1px;  
}


.search-form__pseudo-checkbox {
  display: inline-flex;
  width: 19px;
  height: 19px;
  border: 1px solid white;
  padding: 1px;
  cursor: pointer;
  vertical-align: middle;
}

.search-form__pseudo-checkbox::after {
  content: "";
  display: block;
  background-color: white;
  width: 100%;
  height: 100%;
  opacity: 0;
  box-sizing: border-box;
  border: 1px solid white;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  opacity: 1; 
}

.search-form__label {
  width: auto;
}

.search-form__checkbox-list {
  width: 212px;
  display: flex;
  justify-content: space-between;
}

.content__details {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 399px;
  height: auto;
}

.content__list-container {
  position: relative;
  height: 298px;
  align-items: flex-end;
  overflow-y: auto;
  padding-right: 1px;
}

.content__list-item {
  margin-bottom: 27px;
}

.content__card-link {
  display: block;
  height: auto;
  padding: 0;
}

.content__card-link:active {
  background-color:  #545050;
}

.content__card-link:hover {
  color: white;
  text-decoration: underline;
  text-underline-offset: 5px;
  text-decoration-thickness: 1px;
}

.content__card-link:focus {
  outline: 0;
  border: 0;
}

.content__card-link:focus-visible {
  outline: 1px solid white;
}

.title {
  position: sticky;
  top: 0;
  font-family: 'Oswald', sans-serif;
  width: 259px;
  height: auto;
  font-weight: 700;
  font-size: 75px;
  line-height: 0.93;
  font-style: normal;
  text-transform: uppercase;
  margin-bottom: 26px;
}

.content__accent {
  color: #545050;
  font-family: inherit;
}

.content__video-card {
  display: flex;
}

.content__video-card-description-container {
  min-width: 0;
  width: 100%;
}

.content__video-card-title {
  display: block;
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  font-size: 30px;
  color: white;
  width: auto;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.content__video-card-description {
  font-family: 'Fira Sans Condensed', sans-serif;
  color: white;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4; 
  overflow: hidden;
  line-height: 1.2; 
}

.content__video-card-thumbnail {
  width: 195px;
  height: auto;
  object-fit: cover;
  object-position: center;
}

.more-button {
  width: 100%;
}